// Function to sort a list
@function sort-list($list) {
    $sorted-list: (); 

    @while length($list) > 0 {
    $min: nth($list, 1); 
    @each $item in $list {
        @if $item < $min {
        $min: $item;
        }
    }
    $sorted-list: append($sorted-list, $min);
    $list: remove($list, index($list, $min));
    }

    @return $sorted-list;
}

$list_to_sort: john, anna, zoe, kim, felicia, carrie;

$list_sorted: sort-list($list_to_sort);

@debug $list_sorted;
